
<div style="float:right"><a href="/boxes">box view</a> | <a href="/pages">pages</a></div>
<h2>berlin events</h2>

{{#each days}}
  <div class="day-header">{{day}}</div>
  {{#each events}}
  <a href="http://facebook.com/{{fbid}}" target="_blank">
  <div class="event {{new_class createdAt}}">
    <div class="picture" style="background-image:url({{picture_url}})">
    </div>
    <div class="basics">
      {{{new_tag createdAt}}}<span class="tag tag-{{page.tag.name}}">{{page.tag.name}}</span><span class="title">{{name}}</span><br>
      <div class="micro-spacer"></div>
      {{day_time start_time}} @ {{place_name}}<br>
     <span class="description">{{substr 180 description}}</span>
    </div>
    <div class="clear"></div>
  </div>
</a>
  {{/each}}
  <br>
{{/each}}
